@use "../../styles/partials/mixins" as *;

.review-list {

    padding-left: 5%;
    padding-right: 5%;

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        font-size: 1.25rem;
    }

    &__dropdowns {
        padding-bottom: 1rem;
    }

    &__sort, &__filter {
        background-color: #efefef;
        border: 1px #d8dbdb solid;
        border-radius: 5px;
        padding: 10px;
    }

    &__filter {
        margin-left: 1rem;
    }
}

.review-summary {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3rem;

    &__title {
        font-size: 1.5rem;
        margin: 0;
        padding-top: 0.25rem;
        padding-bottom: 1.25rem;
    }

    &__copy {
        margin: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    &__disclaimer {
        color: #017185;
        margin: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    &__select {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
    }
}